[Unit]
Description=Ship Chip

[Service]
ExecStart=/bin/bash /opt/ship-chip/init-scripts/setSail.sh
TimeoutStartSec=60
Restart=always
RestartSec=240
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=shipchip
User=root
Group=root
Environment=

[Install]
WantedBy=multi-user.target