# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
run

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git

#Intelij
.idea

#node
node_modules

#Mac
.DS_Store
