<div class="pure-g">

  <div class="pure-u-1 pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link">Ahoy!</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        {{#link-to "ships" class="pure-menu-link"}}Manage Fleet{{/link-to}}
        <ul class="pure-menu-children">
          <li class="pure-menu-item">{{#link-to "ship.new" class="pure-menu-link"}}Add a ship{{/link-to}}</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="pure-u-1">
    {{outlet}}
  </div>

  <!--<footer>-->
  <!--&copy;2016 Ros Corcoran, Inc.-->
  <!--</footer>-->

</div>