<div class="sc pure-g">
  <div class="pure-u-1 pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">

      <li class="pure-menu-item">
        {{#link-to "ships" class="pure-menu-link"}}Fleet{{/link-to}}
      </li>
      <li class="pure-menu-item">
      </li>

      <li class="pure-menu-item">
        {{#if session.isAuthenticated}}
          <a class="pure-menu-link" href="" {{action "signOut"}}>Log out</a>
        {{else}}
          {{#link-to "login" class="pure-menu-link"}}Log in{{/link-to}}
        {{/if}}
      </li>

    </ul>
  </div>

  <div class="pure-u-1">
    {{outlet}}
  </div>

  <!--<footer>-->
  <!--&copy;2016 Ros Corcoran, Inc.-->
  <!--</footer>-->

</div>