<h4>Fleet</h4>
<table class="pure-table pure-table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |ship|}}
    <tr>
      <td>{{ship.name}}</td>
      <td>{{ship.description}}</td>
      <td>
        {{#link-to 'ship.manage' ship tagName='button' class="button-small pure-button"}}Manage{{/link-to}}
        {{#link-to 'ship.edit' ship tagName='button' class="button-small pure-button"}}Edit{{/link-to}}
        <button {{action "destroyShip" ship}} class="button-small button-error pure-button">Destroy!</button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
