<h4>Fleet</h4>
<table class="pure-table pure-table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |ship|}}
      <tr>
        <th>{{ship.name}}</th>
        <th>{{ship.description}}</th>
        <th>
          <button {{action "destroyShip" ship}}>Destroy!</button>
          {{#link-to 'ship.edit' ship tagName='button'}}Edit{{/link-to}}
        </th>
      </tr>
    {{/each}}
  </tbody>
</table>
<div class="pure-u-1 pure-u-sm-2-3 pure-u-md-1-2 pure-u-lg-1-3">{{outlet}}</div>