@import 'colours';

.pure-button,
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: $color2;
  border-radius: 0;
  border-top: 1px solid rgba($color2, 1);
  border-bottom: 1px solid rgba($color2, 1);
  background: none;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 500ms ease-out;
  &::before, &::after {
    content: " ";
    position: absolute;
    top: 0;
    background-color: $color2;
    height: 100%;
    width: 1px;
    transform: skew(0deg);
    opacity: 1;
    transition: all 500ms ease-out;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
  &:hover,
  &:focus,
  &.active, {
    border-top: 1px solid rgba($color2, 0);
    border-bottom: 1px solid rgba($color2, 0);
    &::before, &::after {
      transform: skew(-15deg);
      opacity: 1;
      height: 80%;
      top: 10%;
    }
    &::before {
      left: 0.4em;

    }
    &::after {
      right: 0.4em;
    }
  }
}

.button-error {
  &::before, &::after {
    background-color: $color5;
  }
}

.button-error {
  &::before, &::after {
    background-color: $color5;
  }
}

.button-secondary {
  border-top: 1px solid rgba($color3, 1);
  border-bottom: 1px solid rgba($color3, 1);
  color: $color3;
  &::before, &::after {
    background-color: $color3;
  }
  &:hover,
  &:focus,
  &.active, {
    border-top: 1px solid rgba($color3, 0);
    border-bottom: 1px solid rgba($color3, 0);
  }
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}
