//==== Colors

//== Standard palette
//(Accessible)
$blue-berry: #1F6F9A;
$blue-ocean: #1A6992;
$blue-sky: #2B9CD8;

$green-lime: #5BC942;
$green-grass: #19A926;

$yellow-banana: #FECE00;
$yellow-pumpkin: #FFA700;

$red-watermelon: #FB543F;
$red-cherry: #C90318;

//== Greyscale
//Secondary Blocks
$cool-grey1: #FBFCFC;
//Buy/Account BG
$cool-grey2: #F2F4F5;
$cool-grey3: #EEF1F3;
$cool-grey4: #EBEEF0;
$cool-grey5: #E6EAED;
//Filters BG
$cool-grey6: #DDE2E6;
$cool-grey7: #B1B9BF;
$cool-grey8: #9BA4AA;
$cool-grey9: #868F96;
$cool-grey10: #44484C;
$cool-grey11: #191919;
$cool-grey12: #ECEDEF;

//== Additional Palette
$minty: #65D0A7;
$turq: #50C3D5;

/* RGB */
$color1: rgba(92, 200, 255, 1);
$color2: rgba(105, 181, 120, 1);
$color3: rgba(242, 100, 48, 1);
$color4: rgba(85, 134, 140, 1);
$color5: rgba(71, 73, 84, 1);
$color6: #2b5797;
