@import 'colours';

.ship-deck {
  border: 1px solid $color2;
  height: 300px;

  svg {
    background-color: white;

    width: 100%;
    height: 300px;

    .dot circle {
      fill: rgba($color2, 0.6);
      stroke: $color1;
      stroke-width: 1px;
    }

    .dot circle.dragging {
      fill: rgba($color3, 0.6);
    }

    .axis line {
      fill: none;
      stroke: #ddd;
      stroke-width: 1px;
      shape-rendering: crispEdges;
      vector-effect: non-scaling-stroke;
    }

    .axis line:nth-child(4n+0) {
      stroke: #ccc;
      stroke-width: 2px;
    }
  }

}
